.card {
    height: 280px;
    background-color: #F9F7F5;
    border-radius: 24px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.card_like {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.card_image {
    width: 100%;
    height: 240px;
    border-radius: 24px 24px 0 0;
    background-color: #000;
}

.card_info {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.card_name {
    color: #000;
    margin: 0;
}

.card_delete {
    position: absolute;
    top: 24px;
    right: 24px;
}

@media screen and (min-width: 320px) and (max-width: 784px) {
    .card {
        height: 240px;
        width: 200px;
        margin: auto;
    }

    .card_image {
        height: 200px;
    }
}