.footer {
    width: 80.556%;
    min-height: 80px;
    margin: auto;
}

.footer_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-align: start;
}

@media screen and (min-width: 320px) and (max-width: 580px) {
    .footer {
        width: 90%;
    }
}